name: Release

on:
  release:
    types:
      - published

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: "17"
          distribution: "temurin"
          cache: gradle

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Build with Gradle
        run: ./gradlew build --no-daemon

      - name: Publish mod
        uses: Kir-Antipov/mc-publish@v3.0
        with:
          modrinth-id: # TODO
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          curseforge-id: # TODO
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          github-token: ${{ secrets.GITHUB_TOKEN }}

          files-primary: build/libs/!(*-@(dev|sources)).jar

          name: Too Many Binds 0.3.1 for 1.18
          version: 0.3.1+1.18
          version-type: beta

          loaders: |
            fabric
